src/main/resources/META-INF/wsdl/RevendaServices_metadata1.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.revenda.ads.ftlf.edu.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.revenda.ads.ftlf.edu.br/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.revenda.ads.ftlf.edu.br/" schemaLocation="RevendaServices_metadata2.xsd"></xsd:import>
    </xsd:schema>
  </types>
  <message name="consultaAquisicoesPorCliente">
    <part element="tns:consultaAquisicoesPorCliente" name="parameters"></part>
  </message>
  <message name="consultaAquisicoesPorClienteResponse">
    <part element="tns:consultaAquisicoesPorClienteResponse" name="parameters"></part>
  </message>
  <message name="cancelaAquisicao">
    <part element="tns:cancelaAquisicao" name="parameters"></part>
  </message>
  <message name="cancelaAquisicaoResponse">
    <part element="tns:cancelaAquisicaoResponse" name="parameters"></part>
  </message>
  <message name="salvaAquisicao">
    <part element="tns:salvaAquisicao" name="parameters"></part>
  </message>
  <message name="salvaAquisicaoResponse">
    <part element="tns:salvaAquisicaoResponse" name="parameters"></part>
  </message>
  <message name="listaAquisicoes">
    <part element="tns:listaAquisicoes" name="parameters"></part>
  </message>
  <message name="listaAquisicoesResponse">
    <part element="tns:listaAquisicoesResponse" name="parameters"></part>
  </message>
  <message name="consultaAquisicao">
    <part element="tns:consultaAquisicao" name="parameters"></part>
  </message>
  <message name="consultaAquisicaoResponse">
    <part element="tns:consultaAquisicaoResponse" name="parameters"></part>
  </message>
  <message name="consultaCliente">
    <part element="tns:consultaCliente" name="parameters"></part>
  </message>
  <message name="consultaClienteResponse">
    <part element="tns:consultaClienteResponse" name="parameters"></part>
  </message>
  <message name="salvaCliente">
    <part element="tns:salvaCliente" name="parameters"></part>
  </message>
  <message name="salvaClienteResponse">
    <part element="tns:salvaClienteResponse" name="parameters"></part>
  </message>
  <message name="deletaCliente">
    <part element="tns:deletaCliente" name="parameters"></part>
  </message>
  <message name="deletaClienteResponse">
    <part element="tns:deletaClienteResponse" name="parameters"></part>
  </message>
  <message name="listaClientes">
    <part element="tns:listaClientes" name="parameters"></part>
  </message>
  <message name="listaClientesResponse">
    <part element="tns:listaClientesResponse" name="parameters"></part>
  </message>
  <message name="salvaFormaPagamento">
    <part element="tns:salvaFormaPagamento" name="parameters"></part>
  </message>
  <message name="salvaFormaPagamentoResponse">
    <part element="tns:salvaFormaPagamentoResponse" name="parameters"></part>
  </message>
  <message name="listaFormasPagamentos">
    <part element="tns:listaFormasPagamentos" name="parameters"></part>
  </message>
  <message name="listaFormasPagamentosResponse">
    <part element="tns:listaFormasPagamentosResponse" name="parameters"></part>
  </message>
  <message name="deletaFormaPagamento">
    <part element="tns:deletaFormaPagamento" name="parameters"></part>
  </message>
  <message name="deletaFormaPagamentoResponse">
    <part element="tns:deletaFormaPagamentoResponse" name="parameters"></part>
  </message>
  <message name="consultaFormaPagamento">
    <part element="tns:consultaFormaPagamento" name="parameters"></part>
  </message>
  <message name="consultaFormaPagamentoResponse">
    <part element="tns:consultaFormaPagamentoResponse" name="parameters"></part>
  </message>
  <message name="salvarFornecedor">
    <part element="tns:salvarFornecedor" name="parameters"></part>
  </message>
  <message name="salvarFornecedorResponse">
    <part element="tns:salvarFornecedorResponse" name="parameters"></part>
  </message>
  <message name="deletarFornecedor">
    <part element="tns:deletarFornecedor" name="parameters"></part>
  </message>
  <message name="deletarFornecedorResponse">
    <part element="tns:deletarFornecedorResponse" name="parameters"></part>
  </message>
  <message name="listarFornecedores">
    <part element="tns:listarFornecedores" name="parameters"></part>
  </message>
  <message name="listarFornecedoresResponse">
    <part element="tns:listarFornecedoresResponse" name="parameters"></part>
  </message>
  <message name="consultaFornecedor">
    <part element="tns:consultaFornecedor" name="parameters"></part>
  </message>
  <message name="consultaFornecedorResponse">
    <part element="tns:consultaFornecedorResponse" name="parameters"></part>
  </message>
  <message name="login">
    <part element="tns:login" name="parameters"></part>
  </message>
  <message name="loginResponse">
    <part element="tns:loginResponse" name="parameters"></part>
  </message>
  <message name="salvaFuncionario">
    <part element="tns:salvaFuncionario" name="parameters"></part>
  </message>
  <message name="salvaFuncionarioResponse">
    <part element="tns:salvaFuncionarioResponse" name="parameters"></part>
  </message>
  <message name="autentica">
    <part element="tns:autentica" name="parameters"></part>
  </message>
  <message name="autenticaResponse">
    <part element="tns:autenticaResponse" name="parameters"></part>
  </message>
  <message name="deletaFuncionario">
    <part element="tns:deletaFuncionario" name="parameters"></part>
  </message>
  <message name="deletaFuncionarioResponse">
    <part element="tns:deletaFuncionarioResponse" name="parameters"></part>
  </message>
  <message name="consultaFuncionario">
    <part element="tns:consultaFuncionario" name="parameters"></part>
  </message>
  <message name="consultaFuncionarioResponse">
    <part element="tns:consultaFuncionarioResponse" name="parameters"></part>
  </message>
  <message name="listaFuncionarios">
    <part element="tns:listaFuncionarios" name="parameters"></part>
  </message>
  <message name="listaFuncionariosResponse">
    <part element="tns:listaFuncionariosResponse" name="parameters"></part>
  </message>
  <message name="salvaGasto">
    <part element="tns:salvaGasto" name="parameters"></part>
  </message>
  <message name="salvaGastoResponse">
    <part element="tns:salvaGastoResponse" name="parameters"></part>
  </message>
  <message name="listaGastos">
    <part element="tns:listaGastos" name="parameters"></part>
  </message>
  <message name="listaGastosResponse">
    <part element="tns:listaGastosResponse" name="parameters"></part>
  </message>
  <message name="consultaGastos">
    <part element="tns:consultaGastos" name="parameters"></part>
  </message>
  <message name="consultaGastosResponse">
    <part element="tns:consultaGastosResponse" name="parameters"></part>
  </message>
  <message name="deletaGasto">
    <part element="tns:deletaGasto" name="parameters"></part>
  </message>
  <message name="deletaGastoResponse">
    <part element="tns:deletaGastoResponse" name="parameters"></part>
  </message>
  <message name="consultaGasto">
    <part element="tns:consultaGasto" name="parameters"></part>
  </message>
  <message name="consultaGastoResponse">
    <part element="tns:consultaGastoResponse" name="parameters"></part>
  </message>
  <message name="listaVeiculos">
    <part element="tns:listaVeiculos" name="parameters"></part>
  </message>
  <message name="listaVeiculosResponse">
    <part element="tns:listaVeiculosResponse" name="parameters"></part>
  </message>
  <message name="consultaVeiculo">
    <part element="tns:consultaVeiculo" name="parameters"></part>
  </message>
  <message name="consultaVeiculoResponse">
    <part element="tns:consultaVeiculoResponse" name="parameters"></part>
  </message>
  <message name="deletaVeiculo">
    <part element="tns:deletaVeiculo" name="parameters"></part>
  </message>
  <message name="deletaVeiculoResponse">
    <part element="tns:deletaVeiculoResponse" name="parameters"></part>
  </message>
  <message name="salvaVeiculo">
    <part element="tns:salvaVeiculo" name="parameters"></part>
  </message>
  <message name="salvaVeiculoResponse">
    <part element="tns:salvaVeiculoResponse" name="parameters"></part>
  </message>
  <message name="salvaVenda">
    <part element="tns:salvaVenda" name="parameters"></part>
  </message>
  <message name="salvaVendaResponse">
    <part element="tns:salvaVendaResponse" name="parameters"></part>
  </message>
  <message name="consultaVenda">
    <part element="tns:consultaVenda" name="parameters"></part>
  </message>
  <message name="consultaVendaResponse">
    <part element="tns:consultaVendaResponse" name="parameters"></part>
  </message>
  <message name="listaVendas">
    <part element="tns:listaVendas" name="parameters"></part>
  </message>
  <message name="listaVendasResponse">
    <part element="tns:listaVendasResponse" name="parameters"></part>
  </message>
  <message name="cancelaVenda">
    <part element="tns:cancelaVenda" name="parameters"></part>
  </message>
  <message name="cancelaVendaResponse">
    <part element="tns:cancelaVendaResponse" name="parameters"></part>
  </message>
  <message name="consultaVendasPorCliente">
    <part element="tns:consultaVendasPorCliente" name="parameters"></part>
  </message>
  <message name="consultaVendasPorClienteResponse">
    <part element="tns:consultaVendasPorClienteResponse" name="parameters"></part>
  </message>
  <portType name="RevendaServices">
    <operation name="consultaAquisicoesPorCliente">
      <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaAquisicoesPorCliente" ns1:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaAquisicoesPorClienteRequest"></input>
      <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaAquisicoesPorClienteResponse" ns2:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaAquisicoesPorClienteResponse"></output>
    </operation>
    <operation name="cancelaAquisicao">
      <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:cancelaAquisicao" ns3:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/cancelaAquisicaoRequest"></input>
      <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" message="tns:cancelaAquisicaoResponse" ns4:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/cancelaAquisicaoResponse"></output>
    </operation>
    <operation name="salvaAquisicao">
      <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaAquisicao" ns5:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaAquisicaoRequest"></input>
      <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaAquisicaoResponse" ns6:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaAquisicaoResponse"></output>
    </operation>
    <operation name="listaAquisicoes">
      <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaAquisicoes" ns7:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaAquisicoesRequest"></input>
      <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaAquisicoesResponse" ns8:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaAquisicoesResponse"></output>
    </operation>
    <operation name="consultaAquisicao">
      <input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaAquisicao" ns9:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaAquisicaoRequest"></input>
      <output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaAquisicaoResponse" ns10:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaAquisicaoResponse"></output>
    </operation>
    <operation name="consultaCliente">
      <input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaCliente" ns11:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaClienteRequest"></input>
      <output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaClienteResponse" ns12:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaClienteResponse"></output>
    </operation>
    <operation name="salvaCliente">
      <input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaCliente" ns13:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaClienteRequest"></input>
      <output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaClienteResponse" ns14:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaClienteResponse"></output>
    </operation>
    <operation name="deletaCliente">
      <input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaCliente" ns15:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaClienteRequest"></input>
      <output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaClienteResponse" ns16:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaClienteResponse"></output>
    </operation>
    <operation name="listaClientes">
      <input xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaClientes" ns17:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaClientesRequest"></input>
      <output xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaClientesResponse" ns18:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaClientesResponse"></output>
    </operation>
    <operation name="salvaFormaPagamento">
      <input xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaFormaPagamento" ns19:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaFormaPagamentoRequest"></input>
      <output xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaFormaPagamentoResponse" ns20:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaFormaPagamentoResponse"></output>
    </operation>
    <operation name="listaFormasPagamentos">
      <input xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaFormasPagamentos" ns21:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaFormasPagamentosRequest"></input>
      <output xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaFormasPagamentosResponse" ns22:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaFormasPagamentosResponse"></output>
    </operation>
    <operation name="deletaFormaPagamento">
      <input xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaFormaPagamento" ns23:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaFormaPagamentoRequest"></input>
      <output xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaFormaPagamentoResponse" ns24:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaFormaPagamentoResponse"></output>
    </operation>
    <operation name="consultaFormaPagamento">
      <input xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaFormaPagamento" ns25:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaFormaPagamentoRequest"></input>
      <output xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaFormaPagamentoResponse" ns26:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaFormaPagamentoResponse"></output>
    </operation>
    <operation name="salvarFornecedor">
      <input xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvarFornecedor" ns27:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvarFornecedorRequest"></input>
      <output xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvarFornecedorResponse" ns28:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvarFornecedorResponse"></output>
    </operation>
    <operation name="deletarFornecedor">
      <input xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletarFornecedor" ns29:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletarFornecedorRequest"></input>
      <output xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletarFornecedorResponse" ns30:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletarFornecedorResponse"></output>
    </operation>
    <operation name="listarFornecedores">
      <input xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" message="tns:listarFornecedores" ns31:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listarFornecedoresRequest"></input>
      <output xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata" message="tns:listarFornecedoresResponse" ns32:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listarFornecedoresResponse"></output>
    </operation>
    <operation name="consultaFornecedor">
      <input xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaFornecedor" ns33:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaFornecedorRequest"></input>
      <output xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaFornecedorResponse" ns34:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaFornecedorResponse"></output>
    </operation>
    <operation name="login">
      <input xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" message="tns:login" ns35:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/loginRequest"></input>
      <output xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata" message="tns:loginResponse" ns36:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/loginResponse"></output>
    </operation>
    <operation name="salvaFuncionario">
      <input xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaFuncionario" ns37:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaFuncionarioRequest"></input>
      <output xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaFuncionarioResponse" ns38:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaFuncionarioResponse"></output>
    </operation>
    <operation name="autentica">
      <input xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata" message="tns:autentica" ns39:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/autenticaRequest"></input>
      <output xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata" message="tns:autenticaResponse" ns40:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/autenticaResponse"></output>
    </operation>
    <operation name="deletaFuncionario">
      <input xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaFuncionario" ns41:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaFuncionarioRequest"></input>
      <output xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaFuncionarioResponse" ns42:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaFuncionarioResponse"></output>
    </operation>
    <operation name="consultaFuncionario">
      <input xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaFuncionario" ns43:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaFuncionarioRequest"></input>
      <output xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaFuncionarioResponse" ns44:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaFuncionarioResponse"></output>
    </operation>
    <operation name="listaFuncionarios">
      <input xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaFuncionarios" ns45:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaFuncionariosRequest"></input>
      <output xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaFuncionariosResponse" ns46:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaFuncionariosResponse"></output>
    </operation>
    <operation name="salvaGasto">
      <input xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaGasto" ns47:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaGastoRequest"></input>
      <output xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaGastoResponse" ns48:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaGastoResponse"></output>
    </operation>
    <operation name="listaGastos">
      <input xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaGastos" ns49:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaGastosRequest"></input>
      <output xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaGastosResponse" ns50:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaGastosResponse"></output>
    </operation>
    <operation name="consultaGastos">
      <input xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaGastos" ns51:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaGastosRequest"></input>
      <output xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaGastosResponse" ns52:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaGastosResponse"></output>
    </operation>
    <operation name="deletaGasto">
      <input xmlns:ns53="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaGasto" ns53:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaGastoRequest"></input>
      <output xmlns:ns54="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaGastoResponse" ns54:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaGastoResponse"></output>
    </operation>
    <operation name="consultaGasto">
      <input xmlns:ns55="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaGasto" ns55:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaGastoRequest"></input>
      <output xmlns:ns56="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaGastoResponse" ns56:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaGastoResponse"></output>
    </operation>
    <operation name="listaVeiculos">
      <input xmlns:ns57="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaVeiculos" ns57:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaVeiculosRequest"></input>
      <output xmlns:ns58="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaVeiculosResponse" ns58:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaVeiculosResponse"></output>
    </operation>
    <operation name="consultaVeiculo">
      <input xmlns:ns59="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaVeiculo" ns59:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaVeiculoRequest"></input>
      <output xmlns:ns60="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaVeiculoResponse" ns60:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaVeiculoResponse"></output>
    </operation>
    <operation name="deletaVeiculo">
      <input xmlns:ns61="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaVeiculo" ns61:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaVeiculoRequest"></input>
      <output xmlns:ns62="http://www.w3.org/2007/05/addressing/metadata" message="tns:deletaVeiculoResponse" ns62:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/deletaVeiculoResponse"></output>
    </operation>
    <operation name="salvaVeiculo">
      <input xmlns:ns63="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaVeiculo" ns63:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaVeiculoRequest"></input>
      <output xmlns:ns64="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaVeiculoResponse" ns64:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaVeiculoResponse"></output>
    </operation>
    <operation name="salvaVenda">
      <input xmlns:ns65="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaVenda" ns65:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaVendaRequest"></input>
      <output xmlns:ns66="http://www.w3.org/2007/05/addressing/metadata" message="tns:salvaVendaResponse" ns66:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/salvaVendaResponse"></output>
    </operation>
    <operation name="consultaVenda">
      <input xmlns:ns67="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaVenda" ns67:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaVendaRequest"></input>
      <output xmlns:ns68="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaVendaResponse" ns68:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaVendaResponse"></output>
    </operation>
    <operation name="listaVendas">
      <input xmlns:ns69="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaVendas" ns69:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaVendasRequest"></input>
      <output xmlns:ns70="http://www.w3.org/2007/05/addressing/metadata" message="tns:listaVendasResponse" ns70:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/listaVendasResponse"></output>
    </operation>
    <operation name="cancelaVenda">
      <input xmlns:ns71="http://www.w3.org/2007/05/addressing/metadata" message="tns:cancelaVenda" ns71:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/cancelaVendaRequest"></input>
      <output xmlns:ns72="http://www.w3.org/2007/05/addressing/metadata" message="tns:cancelaVendaResponse" ns72:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/cancelaVendaResponse"></output>
    </operation>
    <operation name="consultaVendasPorCliente">
      <input xmlns:ns73="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaVendasPorCliente" ns73:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaVendasPorClienteRequest"></input>
      <output xmlns:ns74="http://www.w3.org/2007/05/addressing/metadata" message="tns:consultaVendasPorClienteResponse" ns74:Action="http://webservice.revenda.ads.ftlf.edu.br/RevendaServices/consultaVendasPorClienteResponse"></output>
    </operation>
  </portType>
</definitions>